@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 123px;
  top: 35px;
}
.button {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1223px;
  top: 35px;
}
#root {
	font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
body {
    margin-top: 9rem;
  }
.item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }