@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 123px;
  top: 35px;
}
.button {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1223px;
  top: 57px;
}

html,
body {
  height: 100%;
}

#root {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	outline: none;
	position: absolute;
	width: 1366px;
	height: 1267px;
	left: 0px;
	top: 0px;
  
	font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  .App {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }